
# Кэш и временные файлы Flutter
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# IDE и система
.idea/
.vscode/
.DS_Store

# Env файлы (если используешь flutter_dotenv)
.env
.env.*

# Игнорируем весь build...
/build/*

# ...НО возвращаем папку web и всё внутри неё
!/build/web
!/build/web/**

