# Игнорировать всё из build, кроме web-сборки
/build/*
!/build/web/**

# Кэш и временные файлы Flutter
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# IDE и система
.idea/
.vscode/
.DS_Store

# Env файлы (если используешь flutter_dotenv)
.env
.env.*
